/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #08001a;
  color: #fff;
}

/*=============== CONTAINER ===============*/
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: #110033;
  padding: 1.5rem;
  border-radius: 1.8rem;
  box-shadow: inset 5px 5px 12px #0a0020, 5px 5px 12px rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: repeat(4, 68px);
}

input {
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: #100033;
  box-shadow: inset -5px -5px 12px #0a0020, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 30px;
  color: #4a00eb;
  font-size: 3rem;
  text-align: end;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
}

button {
  height: 52px;
  width: 52px;
  background-color:  #100033;
  box-shadow: inset -5px -5px 12px #0a0020, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 50%;
  margin: 8px;
  font-size: 1rem;
  color: #4a00eb;
}

.equal{
  width: 115px;
  border-radius: 40px;
  background-color:  #100033;
  box-shadow: inset -5px -5px 12px #0a0020, 5px 5px 12px rgba(0, 0, 0, 0.16);
}
